.task {
  width: 80%;
  border: 1px solid lightgray;
}

.title {
  background-color: lightgray;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 0.5rem;
}

.title input {
  margin: 0;
  padding: 0.25rem;
}

.title button {
  margin-left: auto;
}

.task ul {
  list-style: none;
  padding-inline-start: 0.5rem;
}

.checked {
  text-decoration: line-through;
}
